<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ElmahIo.ApiKey" value="" />
      <setting name="ElmahIo.LogId" value="" />
    </settings>
    <log4net>
      <appender name="ElmahIoAppender" type="Sitecore.Foundation.ElmahIo.ElmahIoAppender, Sitecore.Foundation.ElmahIo" patch:before="*[@name='LogFileAppender']" />
      <root>
        <appender-ref ref="ElmahIoAppender" patch:before="*[@ref='LogFileAppender']" />
      </root>
    </log4net>
  </sitecore>
</configuration>
